//HOME

#home {
  .comingsoon {
    width: 270px;
    margin: 8% auto 0 auto;

    img {
      padding-left: 26px;
    }

    p {
      color: #fff;
      text-transform: uppercase;
      padding: 2% 0;
      font: 100 1em/1.1 'Oswald';
      word-spacing: 2px;
    }

    .social {
      overflow: hidden;
      border-bottom: 4px solid $social-bkg;
      padding: 1% 0;
      margin: 4% 16.5% 0 16.5%;
      padding-bottom: 3%;

      a {
        width: 50px;
        height: 35px;
        padding-top: 15px;
        float: left;
        background: $social-bkg;
        margin-left: 8%;
        border-radius: 50%;

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          background: $social-hover;
        }
      }

      .facebook:hover i {
        background-position: -68px -50px;
      }

      .twitter:hover i {
        background-position: -132px -50px;
      }

      .google:hover i {
        background-position: -198px -50px;
      }
    }

    .arrow {
      display: block;
      margin: 2px 16.5% 13% 16.5%;
      border-top: 1px solid $social-bkg;
      padding-top: 10%;

      &:hover i {
        background-position: 0 0;
      }
    }
  }

  .sponsors {
    width: 370px;
    margin: 0 auto 5% auto;
    overflow: hidden;

    .spons {
      width: 33.333333%;
      float: left;

      &:nth-child(1) {
        margin-top: 2%;
      }

      &:nth-child(2) {
        margin-top: 3%;
      }
    }
  }
}

#daily {
  .separator {
    height: 5px;
    background: asset-url('top-news.png');
  }

  #news {
    background: #fff;

    &:last-child {
      padding-bottom: 5%;
    }

    .top {
      border-bottom: 1px solid $fonts;
      margin-top: 4%;
      margin-bottom: 3%;

      p {
        color: $fonts;
        font: 0.8em/1.1 'Helvetica', sans-serif;
        text-align: right;
        padding-bottom: 3px;
        word-spacing: 1px;
      }
    }

    .logo {
      padding-top: 0.5%;
    }

    .stars {
      margin-top: 0.2%;

      div {
        padding: 0.5% 0;
      }

      span {
        font-family: 'Oswald', 'Helvetica', sans-serif;

        &:nth-child(2) {
          padding-left: 25%;
          font-weight: 100;
        }
      }
    }

    .eight-columns {
      text-align: center;
    }

    .mask, .date {
      text-align: right
    }

    .line {
      height: 1px;
      background: $fonts;
      padding: 0 !important;
    }

    .line-bold {
      height: 5px;
      background: $dark-brownn;
      margin-top: 0.5%;
      margin-bottom: 1.5%;
    }

    p {
      font-family: 'Block';
      position: relative;
      //top: 52px;
    }

    .six-columns {
      img {
        width: 100%;
      }

      .keynotes {
        font-size: 10em;
        margin-left: -3px;
        margin-top: -14px;
      }

      .accepted {
        font-size: 3.4em;
        padding-bottom: 1.5%;
        border-bottom: 1px solid $fonts;
        margin-bottom: 3%;
      }

      .last {
        border-bottom: 1px solid $fonts;
      }

      .last-h5 {
        border-bottom: 1px solid $fonts;
        margin-bottom: 4%;
        font-size: 4.1em;
      }

      h1.sponsr {
        font-size: 6.7em;
      }

      .yes-we {
        font-size: 3.7em;
        border-top: 1px solid #000;
        margin-top: 2.5%;
        padding-top: 1%;
      }

      .text-sponsor {
        padding-top: 2%;
      }

      .email {
        display: block;
        background: $fonts;
        color: #fff;
        text-align: right;
        font: 100 1.6em/1.7 'Oswald';
        padding-right: 10px;
        margin-top: 3%;
      }
    }

    .three-columns {
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  #home .sponsors {
    width: 280px;
  }
}
