//HOME

#home {
  .comingsoon {
    width: 270px;
    margin: 8% auto 0 auto;

    img {
      padding-left: 26px;
    }

    p {
      color: #fff;
      text-transform: uppercase;
      padding: 2% 0;
      font: 100 1em/1.1 'Oswald';
    }

    .social {
      overflow: hidden;
      border-bottom: 4px solid $social-bkg;
      padding: 1% 0;
      margin: 4% 16.5% 0 16.5%;
      padding-bottom: 3%;

      a {
        width: 50px;
        height: 35px;
        padding-top: 15px;
        float: left;
        background: $social-bkg;
        margin-left: 8%;
        border-radius: 50%;

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          background: $social-hover;
        }
      }

      .facebook:hover i {
        background-position: -68px -50px;
      }

      .twitter:hover i {
        background-position: -132px -50px;
      }

      .google:hover i {
        background-position: -198px -50px;
      }
    }

    .arrow {
      display: block;
      margin: 2px 16.5% 13% 16.5%;
      border-top: 1px solid $social-bkg;
      padding-top: 10%;

      &:hover i {
        background-position: 0 0;
      }
    }
  }

  .sponsors {
    width: 370px;
    margin: 0 auto 5% auto;
    overflow: hidden;

    .spons {
      width: 33.333333%;
      float: left;

      &:nth-child(1) {
        margin-top: 2%;
      }

      &:nth-child(2) {
        margin-top: 3%;
      }
    }
  }
}

#daily {
  //width: 624px;
  //height: 454px;
  border: 2px solid blue;
  margin-left: 50px;

  p {
    font-family: 'Block';
    position: relative;
    top: 52px;
  }

  img {
    opacity: 0;
  }
}

@media screen and (max-width: 400px) {
  #home .sponsors {
    width: 280px;
  }
}
