@mixin font_face($font, $url) {
  @font-face {
    font-family: $font;
    font-style: normal;
    src: local("#{$font}"),
         font-url("#{$url}.otf"),
         font-url("#{$url}.eot"),
         font-url("#{$url}.ttf"),
         font-url("#{$url}.svg"),
         font-url("#{$url}.woff");
  }
}
