@media screen and (max-width: 767px) {
  @include grid_generator;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  .keynotes {
    font-size: 5em !important;
    margin-top: 5px !important;
  }

  h1 {
    font-size: 4.1em;
  }

  h2, h4 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 3.3em;
  }

  .last-h5 {
    font-size: 2.67em !important;
  }

  .accepted {
    font-size: 2.2em !important;
  }

  .yes-we {
    font-size: 2.39em !important;
  }

  .sponsr {
    font-size: 4.3em !important;
  }

  .six-columns p {
    font-family: 'Helvetica', sans-serif !important;
    word-spacing: 1px;
    line-height: 25px;
  }

  #daily #news p {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.2em;
    word-spacing: 1px;
    line-height: 25px;
  }

  #text, #desi, #sandi, #sponsors {
    display: none;
  }

  #daily #news .we {
    margin-top: 0;
  }

  .two-columns {
    width: 20% !important;
  }

  .eight-columns {
    width: 60% !important;
  }

  .logo, .mask {
    padding-top: 10% !important;
  }

  .tit { display: none; }
  .tit-mob { display: block !important; }
}

@media screen and (max-width: 400px) {
  #home .sponsors {
    width: 280px;
  }
}
